{% extends "layout.jinja2" %}
{% block body %}
<section class="section">
  <div class="container">
    <div class="article notification is-success">
      <p><strong>Thank you for your feedback. We really appreciate that!</strong><br>
      Please go back to the <a href="/"><b>main page</b></a>.</p>
    </div>
  </div>
</section>
{% endblock %}

